<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <style>
        
        *{
            margin: 0px;
        }

        body {
            background-color: #ffff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .top-bar {
            background-color:  #00a6fb;
            color: #fff;
            padding: 10px;
            text-align: left;
        }

        .left-buttons {
            display: flex;
            align-items: center;
        }

        .seta, .inicio {
            background: none;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            margin-right: 20px;
        }

        .container { 
            width: 80%;
            max-width: 500px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            margin-top: 150px;
        }

        h1 {
            color:  #00a6fb;
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .input-group input {
            width: 96%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .forgot-password {
            text-align: right;
            margin-bottom: 20px;
        }

        .button-group {
            display: flex;
            justify-content: space-between;
        }

        .botao {
            text-decoration: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            color: #fff;
        }

        .botao {
            background-color:  #00a6fb;
        }

        .texto:hover {
            color: #00a6fb;
            border-color:  #00a6fb;
        }

        .seta:hover, .inicio:hover {
            color:  #00a6fb;
        }

        .rodape {
            background-color:  #00a6fb;
            color: #fff;
            padding: 12.5px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;

        }

        .seta {
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana;
    cursor: pointer; /* Adiciona cursor de ponteiro para indicar que é clicável */
    border: none;
    background: none;
    transition: color 0.3s; /* Adiciona uma transição de cor suave */
}

.seta:hover {
    color: #00a6fb; /* Altera a cor ao passar o mouse sobre o botão */
}

    </style>
</head>

<body>
    <div class="top-bar">
        <div class="left-buttons">
            <button onclick="voltar()" class="seta">ᐊ Voltar </button>
            <a href="/cadastro"></a>
        </div>
    </div>

    <div class="container">
        <h1>Login</h1>

        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">E-mail:</label>
                <input placeholder="email" type="text" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Senha:</label>
                <input placeholder="Senha" type="password" id="password" name="password" required>
            </div>

            <div class="forgot-password">
                Esqueceu sua <a href="#" class="texto">senha</a>?
            </div>

            <div class="button-group">
                <button type="submit" class="botao">Entrar</button>
                <a href="/cadastro" class="botao">Cadastre-se</a>
            </div>
        </form>
    </div>

    <footer class="rodape">
        Todos os direitos reservados © 2023
    </footer>
</body>
<script>
    function voltar() {
            // Altera a localização (URL) para a nova página
            window.location.href = "inicio";
        }

</script>
</html>
